.icons__circles {
  display: flex;
}

.tcircle {
  width: 5px;
  height: 5px;
  border-radius: 10px;
  margin: 10px 15px 10px 0px;
}

.tcircle.circle-1 {
  background-color: #dba060;
}

.tcircle.circle-2-update {
  background-color: #b5d0c1;
}

.tcircle.circle-3 {
  background-color: #a5a7a6;
}
